<template>
  <div class="vh-100 d-flex align-items-center justify-content-center">
    <b-button @click="seedCategoriesDatabase" variant="primary" :disabled="frontendItems.button.loader">
      <span v-if="!frontendItems.button.loader">Click here to seed the category database</span>
      <b-spinner small v-if="frontendItems.button.loader"></b-spinner>
      <span v-if="frontendItems.button.loader">... Loading</span>
    </b-button>
  </div>
</template>

<script>
import {BButton} from "bootstrap-vue";
import db_categories from "~/databases/categories_datas.json"
import {CREATE_CATEGORY} from "~/apollo/categories_query";

export default {
  components: {
    BButton
  },
  data(){
    return {
      categories: null,
      frontendItems:{
        button: {
          loader: false
        }
      }
    }
  },

  mounted() {
    this.categories = db_categories;
  },

  methods: {
    async seedCategoriesDatabase(){

      this.frontendItems.button.loader = true;
      //loop for parent categories
      await this.categories.forEach(_category => {

        //insert the parent categories
        this.$axios.post(process.env.catalog.url, {
          query: CREATE_CATEGORY,
          variables: {
            name:_category.name,
            code:_category.code,
            description:_category.description,
            icon:_category.icon,
            team_id:"60eedf375602f376266472e4",
            zonia_user_id:"60eedf375602f376266472e8",
            color: _category.color
          }
        }, {headers: {"Authorization": "Bearer " + process.env.catalog.token}})
        .then(async response1 => {
          let parentSubCategory = await response1.data.data.createCategory.category.id

          //loop for subCategories
          let _sub_category = await _category.categories;
          await _sub_category.forEach(subCategory => {
            this.$axios.post(process.env.catalog.url, {
              query: CREATE_CATEGORY,
              variables: {
                name:subCategory.name,
                code:subCategory.code,
                description:subCategory.description,
                parent:parentSubCategory,
                team_id:"60eedf375602f376266472e4",
                zonia_user_id:"60eedf375602f376266472e8"
              }
            }, {headers: {"Authorization": "Bearer " + process.env.catalog.token}})
            .then(async response2 => {
              let parentSubSubCategory = await response2.data.data.createCategory.category.id;

              //SubSubCategory loop
              if(subCategory.categories.length){
                let _sub_sub_category = await subCategory.categories;
                await _sub_sub_category.forEach(subSubCategory => {
                  this.$axios.post(process.env.catalog.url, {
                    query: CREATE_CATEGORY,
                    variables: {
                      name:subSubCategory.name,
                      code:subSubCategory.code,
                      description:subSubCategory.description,
                      parent: parentSubSubCategory,
                      team_id:"60eedf375602f376266472e4",
                      zonia_user_id:"60eedf375602f376266472e8"
                    }
                  }, {headers: {"Authorization": "Bearer " + process.env.catalog.token}})
                  .then(response3 => {
                    console.log(response3.data.data.createCategory.category.id)
                  })
                })
              }
            })
          })
        })
      })

      this.frontendItems.button.loader = false;

    }
  }
}
</script>
